body {
	margin: 0;
    font-family: system-ui;
    font-size: 25px;
}
h1 {
	font-weight: 100;
	margin-top: 10px;
}
#image {
	height: 300px;
	width: 300px;
	border-radius: 60px;
}
#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}